#box_header {
	padding: 0px;
	position:fixed;
	height:75px;
	width:800px;
	top:0px;
	left:0px;
	background-color: rgb(105, 103, 103);
	margin-left: 25px;
	border-color: black;
	border-style: groove;
	border-radius: 10px;
}

#box_nav {
	text-align: center;
	display: inline;
	padding: 10px;
	height:75px;
	width:800px;
	margin-left: 0px;	
}
nav{
	margin-top: 75px;
	height:75px;
	width:800px;
}

#box_main {
	position:fixed;
	height:330px;
	width:800px;
	top: 170px;
	left:0px;
	margin-left: 25px;
	text-align: center;
	border-color: black;
	border-style: groove;
	border-radius: 10px;
	background-color: rgb(105, 103, 103);
}

#box_footer {
	position:fixed;
	height:75px;
	width:800px;
	top:505px;
	left:0px;
	
	margin-left: 25px;
	
}

ul{
	
	text-align: center;
	display: inline;
	padding: 10px;
	margin-left: 70px;
}

h1 {
	font-size: 50px;
	margin-top: 12px;
	color: black;
	text-align:center;
	font-family:serif;
}

h2 {
	font-size: 30px;
	margin-top:0px;
	margin-bottom: 10px;
	color: black;
	text-align: center;
	font-family: serif;
}

h3 {font-size: 20px;
	margin-top: 23px;
	color: blue;
	text-align: center;
	font-family: serif;
}
h4 {
	font-size: 20px;
	margin-top:10px;
	margin-bottom: 10px;
	color: black;
	text-align: center;
	font-family: serif;
}

/*h1, h2{
	border-radius: 5em;
}*/

main h1 {
	border-radius:.1em;
	font-size: 30px;
	margin-top:0px;
	color: black;
	text-align: center;
	font-family: serif;
	background-color: rgb(105, 103, 103);
}

.vertikalnavigation {
	list-style-type:none ;
	width: 300px;
	padding: 0px;
	font-family: 'Arial'
}

.vertikalnavigation li a:hover {
	background-color: #b4b213;
}

p_footer {
	font-size: 25px;
	color: blue;
	font-family: 'Times New Roman';
	text-align: center;
	margin-left: 50px;
}

.flex { 
	display: flex;
	justify-content: left;
	align-items: left;
}

li {
	display: inline;
	font-family: 'Oswald';
	border-bottom: 1px solid;
	text-align: center;
}

a {
	text-align: center;
	color: blue;
	font-size: 20px;
}

body{
	background-color: rgb(150, 148, 148);
}




















